<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLOUD_STORAGE_BUCKET</key>
	<string>material-automation.appspot.com</string>
	<key>GITHUB_APP_ID</key>
	<string>11993</string>
	<key>PEM_FILE_NAME</key>
	<string>GithubKey.pem</string>
	<key>USER_AGENT</key>
	<string>Material Automation</string>
</dict>
</plist>
